

html,
body {
    height: 100%;
}


.carousel {
    height: 50%;
}

.item,
.active,
.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

footer {
    position:absolute;
    bottom: 0px;
    right:20px;
    width:95%;
    margin:0 auto;
    text-align:center;
}

#main_logo{
	height:25px;
	width:auto;
}

h3 {
  border-bottom:1px solid #c4c4c4;
  margin:0px 0px 4px 0px;
}

table{
width:100%;
}
 
th,td {
width:33%;
}

.file-size-column{
text-align:right;
}

.grey-row{
background-color:#ebebeb;
}


/* CONTENT DIV STYLES */

#content_1, #content_2, #content_3, #content_4, #content_5, #content_6, #content_7, #content_8, #content_9, #content_10, #content_11, #content_12, #content_13, #content_14, #content_15, #content_16, #content_17, #content_18, #content_19, #content_20{ 
display:none;
margin-top:50px;
}


/* TAB DIV STYLES */

#tab_2, #tab_3, #tab_4, #tab_5, #tab_6, #tab_7, #tab_8, #tab_9, #tab_10, #tab_11, #tab_12, #tab_13, #tab_14, #tab_15, #tab_16, #tab_17, #tab_18{ 
width:auto;
}



.dropdown-menu {
height:150px;
overflow:auto;
-webkit-box-shadow: -2px 3px 4px 0px rgba(50, 50, 50, 0.50);
-moz-box-shadow:    -2px 3px 4px 0px rgba(50, 50, 50, 0.50);
box-shadow:         -2px 3px 4px 0px rgba(50, 50, 50, 0.50);
}

.reservation-name:hover {
background-color:#3879D9;
color:#fff;
}

.dropdown-btn {
-webkit-box-shadow: -2px 3px 4px 0px rgba(50, 50, 50, 0.50);
-moz-box-shadow:    -2px 3px 4px 0px rgba(50, 50, 50, 0.50);
box-shadow:         -2px 3px 4px 0px rgba(50, 50, 50, 0.50);
}


.down_arrow {
  padding-left:5px;
  padding-bottom:1px;
  display:inline-block;
}
